@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div>
	<h1>Sacrament Meeting Planner</h1>
</div>
<div class="row">
	<div>
		<h2>Welcome to the Sacrament Meeting Planner</h2>
	</div>
	<div>
		<p>
			<a class="btn btn-default"
			   href="/Planners/Create">
				Make a meeting plan
			</a>
		</p>
	</div>
	<div>
		<p>
			<a class="btn btn-default"
			   href="/Planners">
				View Plans
			</a>
		</p>
	</div>
</div>