/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #48361E;
    font-weight: bold;
}

.btn-primary {
    color: #FFF;
    background-color: #48361E;
    border-color: #48361E;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }

    .center {
        margin: 0 auto !important;
        text-align: center !important;
        width: auto !important;
    }
}

.border-top {
    border-top: 2px solid #48361E !important;
}

.border-bottom {
    border-bottom: 2px solid #48361E !important;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    text-align: center;
}

/*My CSS*/
/**
    #EAE7DC lightgray
    #D8C3A5 brown
    #48361E darkbrown
    #8E8D8A darkgray
    #E98074 pink
    #E85A4F red
*/

a.create-new {
    padding: 10px;
}

a.create-new:hover {
    text-decoration: none;
}

html {
    color: #48361E;
}

body {
    background-color: #EAE7DC;
    font-family: 'Quattrocento', serif;
}

h1, h2, h3, h4, h5, h6,
.header-font {
    color: #E85A4F;
    font-family: 'Oswald', sans-serif;
}

.nav-link {
    color: #48361E !important;
}

.nav-item:hover {
    color: #E85A4F !important;
}
.nav-link:hover {
    color: #E85A4F !important;
}

.banner.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    padding: 1rem;
    text-align: center;
}

.banner-img {
    width: 100px;
    height: 100px;
}

.color-darkbrown {
    color: #48361E;
}

.color-brown {
    color: #D8C3A5;
}

.bg-color-brown {
    background-color: #D8C3A5;
}

.btn {
    border-radius: 0 !important;
}

.btn-red {
    background-color: #E85A4F;
    color: #FFF;
}

.btn-red:hover {
    background-color: #E98074;
    border: solid 1px #E85A4F;
    color: #FFF;
}

.btn-darkbrown {
    background-color: #D8C3A5;
    border: solid 1px #48361E;
    color: #48361E;
}

.btn-darkbrown:hover {
    background-color: #48361E;
    color: #FFF;
}

.input-group-text {
    background-color: transparent !important;
    border-top: solid 1px #48361E;
    border-bottom: solid 1px #48361E;
}

.form-control {
    border: solid 1px #48361E !important;
}

.table {
    border-collapse: collapse;
}

.table th {
    background-color: #48361E;
    color: #D8C3A5;
    text-align: center;
}

.table td {
    color: #48361E;
}

.sorting {
    color: #FFF !important;
}

a.sorting:hover {
    text-decoration: none;
}