@page
@model SacramentPlanner.Pages.Songs.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Song</h4>
<hr />
<div class="row">
    <div class="col-md-4">
		<form method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" name="id" asp-for="Song.SongId" />
			<div class="form-group">
				<label asp-for="Song.OpenSongNum" class="control-label"></label>
				<input asp-for="Song.OpenSongNum" class="form-control" />
				<span asp-validation-for="Song.OpenSongNum" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Song.OpenSongTitle" class="control-label"></label>
				<input asp-for="Song.OpenSongTitle" class="form-control" />
				<span asp-validation-for="Song.OpenSongTitle" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Song.SacramentSongNum" class="control-label"></label>
				<input asp-for="Song.SacramentSongNum" class="form-control" />
				<span asp-validation-for="Song.SacramentSongNum" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Song.SacramentSongTitle" class="control-label"></label>
				<input asp-for="Song.SacramentSongTitle" class="form-control" />
				<span asp-validation-for="Song.SacramentSongTitle" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Song.InterSongNum" class="control-label"></label>
				<input asp-for="Song.InterSongNum" class="form-control" />
				<span asp-validation-for="Song.InterSongNum" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Song.InterSongTitle" class="control-label"></label>
				<input asp-for="Song.InterSongTitle" class="form-control" />
				<span asp-validation-for="Song.InterSongTitle" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Song.CloseSongNum" class="control-label"></label>
				<input asp-for="Song.CloseSongNum" class="form-control" />
				<span asp-validation-for="Song.CloseSongNum" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Song.CloseSongTitle" class="control-label"></label>
				<input asp-for="Song.CloseSongTitle" class="form-control" />
				<span asp-validation-for="Song.CloseSongTitle" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-default" />
			</div>
			<div>
				<button asp-page-handler="Cancel">Cancel</button>
			</div>
		</form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
