@page
@model SacramentPlanner.Pages.Speakers.CreateModel

@{
    ViewData["Title"] = "Create";
    var plannerId = Request.Query["id"];
}

<h2 class="pt-4 pb-4">Create Speaker</h2>

<h4>Speaker</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Speaker.SpeakerName" class="control-label"></label>
                <input asp-for="Speaker.SpeakerName" class="form-control" />
                <span asp-validation-for="Speaker.SpeakerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Speaker.SpeakerTopic" class="control-label"></label>
                <input asp-for="Speaker.SpeakerTopic" class="form-control" />
                <span asp-validation-for="Speaker.SpeakerTopic" class="text-danger"></span>
            </div>
            <div>
                <input type="hidden" asp-for="Speaker.PlannerId" value="@plannerId" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-page="Index" class="btn btn-primary">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
