@page
@model SacramentPlanner.Pages.Speakers.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2 class="pt-4 pb-4">Edit Speaker</h2>

<h4>Speaker</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Speaker.SpeakerId" />
            <input type="hidden" asp-for="Speaker.PlannerId" value="@Model.PlannerId" />
            <div class="form-group">
                <label asp-for="Speaker.SpeakerName" class="control-label"></label>
                <input asp-for="Speaker.SpeakerName" class="form-control" />
                <span asp-validation-for="Speaker.SpeakerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Speaker.SpeakerTopic" class="control-label"></label>
                <input asp-for="Speaker.SpeakerTopic" class="form-control" />
                <span asp-validation-for="Speaker.SpeakerTopic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-page="./Index" asp-route-id="@Model.PlannerId" class="btn btn-primary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
