@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Mega Desk App!</h1>
    <p>In this app you will be able to make your own order for a Desk, store the list of your order and see the past order list.</p>
</div>
